.data_tab {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: white;
    text-align: left;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}

.data_tab thead {
    background-color: rgb(13, 84, 99);
}

.data_tab tbody tr {
    border-bottom: 1px solid #dddddd;
}

.data_tab thead tr th, .data_tab tbody tr td {
    padding: 20px 15px;
    max-width: min-content;
}