html {

}

body {
    background-color: rgb(34, 96, 113);
	font-family: Verdana, sans-serif;
    color: white;
}

#content {
    margin-left:100px;
    margin-right:100px;
}

p {
    font-family: 'Roboto';
    font-size: 1.6em;
    text-align: left;
    color: white;
}

.red {background-color: red;}

img {
    width: 150px;
    border-radius: 12px;
    -float: top;
}

.error{
    color: red;
    margin-left: 50px;
}

.sucess{
    color: #00ca16;
    margin-left: 50px;
}

.form {
    border: 2px solid white;
    width: 45%;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 2%;
    border-radius: 5px;
}

.form h3 {
    margin: 10px;
    font-size: 1.8em;
}

.longInput {width: 90%;}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 6px 6px 20px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
    font-size: 1.3em;
    padding: 13px;
    margin: 5px 5px 10px;
    transition: 0.2s;
}

.center {text-align: center;}

.box_btn {
	align-items: center;
	display: flex;
	justify-content: center;
}

.btn {
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 6px 6px 20px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
    font-size: 1.5em;
    padding: 15px;
    transition: 0.2s;
}

.btn:hover, .submit_btn:hover, .misc_btn:hover{
    transform: scale(1.06);
    transition: 0.2s;
}

.misc_btn{
    margin-right: 30px;
    font-size: 1.1em;
}
