{% extends "components/base.html" %}

{% block title %}
    Conférence de citoyens: {{ conf.titre }}
{% endblock %}

{% block content %}
    <p><b>Description : </b></p>

    <p>{{ conf.description }}</p>


    <p><b>Questionnaires associés : </b></p>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data_tab.css') }}"/>
    {% endblock %}
    <table class="data_tab">
        <thead>
        <tr>
            <th>Titre questionnaire</th>
            <th>Date de fermeture</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for questionnaire in questionnaires %}
            <tr>
                <td><a href="questionnaire/{{ questionnaire.id }}">{{ questionnaire.titre }}</a></td>
                <td> {{ questionnaire.dateFermeture }} </td>
                <td>
                    <form action="/resultat/{{ questionnaire.id }}" method="get">
                        <div class="box_btn">
                            <button class="btn btn_in_tab" type="submit">Voir résultats</button>
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/repondre/{{ questionnaire.id }}" method="get">
                        <div class="box_btn">
                            <button class="btn btn_in_tab" type="submit">Répondre</button>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <form action="/nouveauQuestionnaire/{{ conf.id }}" method="get">
        <div class="box_btn">
            <button class="btn" type="submit">Créer un questionnaire associé à cette conférence</button>
        </div>
    </form>
    {% with data=participants %}
        <p><b>Participants à la conférence : </b></p>
        {% include 'components/data_tab.html' %}
    {% endwith %}
{% endblock %}