{% extends "components/base.html" %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block content %}
    <p><b>Bienvenue sur Conf-Cit.org !</b></p>

    <p>Vous participez à une convention en cours ou administrez l'une d'elle ?</p>
    <form action="/connexion" method="get">
        <div class="box_btn">
            <button class="btn" type="submit">S'identifier</button>
        </div>
        <input type="hidden" name="redirect" value="{{ url_for(request.endpoint, **request.view_args) }}"/>
    </form>

    <p>Vous voulez simplement explorer les conférence de citoyens passées et en cours ?</p>
    <form action="/conference" method="get">
        <div class="box_btn">
            <button class="btn" type="submit">Explorer</button>
        </div>
    </form>
    <p>(ADMIN) Visualiser la liste des citoyens inscrits sur le site :</p>
    <form action="/listeCitoyens" method="GET">
        <div class="box_btn">
            <button class="btn" type="submit">Liste des citoyens</button>
        </div>
    </form>

    <p><b>Qu'est-ce que Conf-Cit.org ?</b></p>
    <div class="desc">
        <p>Conf-Cit.org est un service vous permettant d'organiser des conférences de citoyens en
            ligne.</p>

        <p>Une conférence de citoyens est une
            procédure moderne qui permet aux élus locaux de prendre le pouls de la population sur un sujet
            polémique.</p>

        <p>En France, il y a eu un nombre relativement réduit de conférences de citoyens à l’échelle nationale, mais on
            peut citer par exemple celle autour de Cigéo, le centre de stockage géologique de Bure, en 2013.</p>

        <p>L’objectif de cette application est donc d’organiser et de gérer ces conférences de citoyens pour une ville
            à une echelle locale.
            Les organisateurs peuvent ainsi créer des conférences de citoyens et des questionnaires associés, et les
            citoyens peuvent y participer s'ils sont tirés au sort.</p>
    </div>
{% endblock %}


