{% extends "components/base.html" %}

{% block title %}
    LISTE CITOYENS
{% endblock %}

{% block content %}
    <p>Formulaire de création d'une nouvelle conférence des citoyens :</p>
    <div class="form">
        <form enctype="multipart/form-data" action="{{ url_for(request.endpoint) }}" method="post">
            <h2 class="champ">Nom</h2>
            <input type="text" name="nom" id="champ" class="longInput" {% if is_disabled %} disabled {% endif %}>
            <div class="box_btn">
                <button class="btn" type="submit">S'identifier</button>
            </div>
            <input type="hidden" name="redirect" value="{{ url_for(request.endpoint) }}"/>
        </form>
    </div>
{% endblock %}