{%extends "components/base.html" %}

{% block title %}
    Conf-Cit - Page d'accueil
{% endblock %}

{% block content %}
    <p><b>Bienvenue sur Conf-Cit.org !</b></p>

    <p>Vous participez à une convention en cours ou administrez l'une d'elle ?</p>
    <form action="/connexion/" method="post">
        <div class="box_btn">
            <button class="btn" name="seConnecterBtn" type="submit">S'identifier</button>
        </div>
    </form>

    <p>Vous voulez simplement explorer les conférence de citoyens passées et en cours ?</p>
    <form action="/explorer/" method="post">
        <div class="box_btn">
            <button class="btn" name="seConnecterBtn" type="submit">Explorer</button>
        </div>
    </form>
{% endblock %}


