{% extends "components/base.html" %}

{% block title %}
    Création d'une conférence de citoyens
{% endblock %}

{% block content %}
    <p>Merci de remplir les champs ci-dessous: </p>
    <div class=form>
        <form method="post" enctype="multipart/form-data"
              action="{{ url_for("nouvelle_conference_post") }}">
            <h3>Titre de la conférence</h3>
            <input type="text" name="titre" class="longInput" required="">

            <h3>Thème géneral</h3>
            <input type="text" class="longInput" name="theme" required="">

            <h3>Description de la conférence</h3>
            <textarea class="longInput" name="desc" rows="5" cols="60" placeholder="Saisir la description"></textarea>

            <p class="center"><input type="submit" class="submit_btn" value="Valider"></p>
        </form>
    </div>
{% endblock %}
